<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Eat Da Burger!</title>
    <script type="text/javscript" src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javscript" src="/public/js/burgers.js"></script>
    <link rel="stylesheet" type="text/css" src="/public/css/style.css">
  </head>
  <body>
    {{{ body }}}

    <script src="/public/js/burgers.js"></script>
  </body>
</html>
