<h1>Eat da Burger!</h1>
  
<h3>Enter a burger!</h3>

<form action="/" method="POST">
  <textarea type="text" name="burger"></textarea>

  <button id="new-burger" type="submit">Submit</button>
</form>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <div class="burger-div" data-id="{{this.id}}" data-devoured="false">>
      <p>{{this.burger_name}}</p>
      <button data-id="{{this.id}}" class="devour" type="button" >Devour It!</button>
    </div>
    {{/unless}}
  {{/each}}
</ul>
  
<ul>
  {{#each burgers}}
    {{#if devoured}}
      <p>{{this.burger_name}}</p>
    {{/if}}
  {{/each}}
</ul>

